.error-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    img{
        width:70vh;
    }
}

@media (max-width: 600px){
    .error-container img{
        width: 100%;
    }
}