.paginator{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    margin: 20px;
}

.spinner-container{
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

.error-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    img{
        height:50%;
    }
}

@media (max-width: 600px) {
    .paginator{
        font-size: 9.5px;
    }

}