.movie-detail-container{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    padding: 30px;
}
.spinner-container{
    height: 80vh; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
}