<nav class="navbar navbar-light bg-light">
    <div class="navbar-container container-fluid">
        <div 
            class="navbar-brand"
            (click)="goHome()"
            style="cursor: pointer;"
        >
            <img 
                src="../../assets//logo.svg" 
                alt="logo"
                width="100px"/>
        </div>
        <form class="d-flex" (ngSubmit)="onSubmit()">
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                [(ngModel)]="userInput"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
