<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img 
                src="../../assets//logo.png" 
                alt="logo"
                width="60px"/>
        </div>
        <form class="d-flex">
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
