.movies-title{
    margin:10px 60px 10px 60px;
}
.paginator{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    margin: 20px;
}
.spinner-container{
    height: 80vh; 
    display:flex; 
    align-items: center; 
    justify-content: center; 
}

.error-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    img{
        height:50%;
    }
}

@media (max-width: 600px) {
    .paginator{
        font-size: 9.5px;
    }

}