<h1 style="margin:10px 60px 10px 60px;">Cartelera</h1>

<app-billboard [movieList]="movieList" [loading]="loading"></app-billboard>

<h2 style="margin:10px 60px 10px 60px;">Películas</h2>

<app-movie-list [movieList]="movieList" [loading]="loading"> </app-movie-list>

<div
    style="display:flex; align-items: center; justify-content: center; margin: 20px;"
>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: page === 1 }">
      <a class="page-link" [href]="'/cartelera/' + (page - 1)" [tabindex]="page === 1 ? -1 : null"
        >Previous</a
      >
    </li>
    <li class="page-item" *ngIf="page > 1">
        <a class="page-link" [href]="'/cartelera/' + ((page >= 6) ? (page - 6): (page-1))" 
          >...</a
        >
    </li>
    <li     
        class="page-item" 
        *ngFor="let x of paginatorArray; let i = index"
        [ngClass]="{ disabled: page === x }"
    >
      <a class="page-link" [href]="'/cartelera/' + x" [tabindex]="page === x ? -1 : null">{{ x }} </a>
    </li>
    <li class="page-item" *ngIf="page < totalPages-6">
        <a class="page-link" [href]="'/cartelera/' + (page + 6)" 
          >...</a
        >
    </li>
    <li class="page-item" [ngClass]="{ disabled: page === totalPages + 1 }">
      <a class="page-link" [href]="'/cartelera/' + (page - 1)" [tabindex]="page === 1 ? -1 : null">Next</a>
    </li>
  </ul>
</div>
